.article-cards {
    margin-top: 30px;
    background-color: #fff;
}

.article-wrapper {
    width: 400px;
}

.article-card-body {
    padding: 24px 24px 32px;
}

.article-card-date {
    font-size: 12px;
    color: #666;

    span {
        padding: 0 1ch;
    }
}

.article-card-description {
    text-decoration: none;
    color: #2f2f2f !important;

    :hover {
        text-decoration: underline;
    }

    h3 {
        font-weight: 500;
        font-size: 24px;
        font-family: inherit;
    }
}

@media (max-width: 768px) {
    .article-wrapper {
        width: 350px;
        margin-left: 10px;
    }
}