.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 0;
}
.styled-blog {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  width: 375px; 
  max-width: 100%; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}
.blog-heading {
  font-size: 20px;
  font-family: "Segoe UI", sans-serif;
  color: #2F2F2F !important;
  text-align: left;
  margin-bottom: 20px;
  font-weight: 400 !important;
}
.styled-blog:last-child {
  margin-bottom: 0;
}

.blog-title {
  font-size: 18px;
  font-family: "Segoe UI", sans-serif;
  color: #2F2F2F;
}

.blog-title a {
  color: #2F2F2F;
  text-decoration: none;
}

.blog-title a:hover {
  text-decoration: underline !important;
}

.blog-meta {
  font-size: 12px;
  font-family: "Segoe UI", sans-serif;
  color: #2F2F2F;
}

.blog-wrapper {
  padding-left: 0px;
}
@media (max-width: 375px) {
  .styled-blog {
    width: 320px !important; 
  }
}
