/* Style for the footer wrapper */
.footer-wrapper {
  background-color: #f3f3f3;
  font-family: Arial, sans-serif;
  color: #333;
}

.footer-wrapper >.footer {
  max-width: 1350px;
  margin: auto;
  padding: 60px 20px;
}

.follow-us {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

/* Grid container for the footer content */

.follow-us>div {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: column;

}

.follow-us>div>div:first-child>p {
  font-weight: bold;
}

.follow-us .follow-us-content>div {
 margin-right: -135px;
}

.follow-us>div>div {
  flex: 1;
  min-width: 200px;

}

.follow-us .follow-us-content {
  flex-direction: unset;

}

.follow-us > div ~ div .button-container {
  a.button:any-link,
  button {
    all: unset;
  }
}

/* Styling for headings inside each column */
.follow-us-wrapper>div>div:nth-child(2) p {
  margin-bottom: 10px;
  font-size: 16px;
  text-decoration: none;
}

/* Styling for links inside columns */
.follow-us-wrapper p {
  margin: 5px 0;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  cursor: pointer;
}

.follow-us-wrapper p a {
  color: black;
}

.follow-us-wrapper p:hover {
  text-decoration: underline;
  /* Underline on hover for interactivity */
}



.follow-us .follow-us-text {
  margin: 0;
  font-size: 16px;
  color: #000;

}

.follow-us .follow-us-picture img {
  width: 35px;
  height: 20px;
  display: block;
  

}

.follow-us-content {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  font-family: Arial, sans-serif;

}

@media (max-width: 1280px) {
  .follow-us>div {
    flex-direction: column;
    /* Stack columns vertically on smaller screens */
  }
}