/* Style for the footer wrapper */
.footer-wrapper {
  background-color: #f3f3f3; /* Light grey background */
  font-family: Arial, sans-serif; /* Font for text */
  color: #333; /* Text color */
  
}
.footer-wrapper > .footer {
  max-width: 1350px;
  margin: auto;
  padding: 60px 20px; /* Spacing around the footer content */

}

/* Grid container for the footer content */
.follow-us > div:not(:first-child) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Dynamic columns */
  gap: 10px; /* Space between columns */
  text-align: left; /* Align content to the left */
}

.follow-us > div:nth-child(3) .button-container {
  a.button:any-link,
button { 
  all: unset;
}
}

/* Styling for headings inside each column */
.follow-us-wrapper > div > div:nth-child(2) p {
  font-weight: bold; /* Make the headings bold */
  margin-bottom: 10px; /* Space below headings */
  font-size: 16px; /* Adjust heading size */
  text-decoration: none;
}

/* Styling for links inside columns */
.follow-us-wrapper p {
  margin: 5px 0; /* Space between items */
  font-size: 14px; /* Text size for list items */
  line-height: 1.5; /* Improve readability */
  color: #333; /* Default text color */
  cursor: pointer; /* Pointer cursor for interactivity */
}

.follow-us-wrapper p a {
  color: black;
}

.follow-us-wrapper p:hover {
  text-decoration: underline; /* Underline on hover for interactivity */
}



.follow-us .follow-us-text {
  margin: 0;                   /* Remove default margin */
  font-size: 16px;             /* Adjust font size */
  color: #000;                 /* Black text */
   
}

.follow-us .follow-us-picture img {
  width: 35px;                 /* Adjust width of the icon */
  height: 20px;                /* Adjust height of the icon */
  display: block;
}

.follow-us-content {
  display: flex;               /* Align items in a row */
  align-items: center;         /* Vertically center items */
  padding-bottom: 20px;          /* Add spacing inside the container */
  font-family: Arial, sans-serif;
 
}

/* Responsive Design*/
@media (max-width: 1280px) {
  .footer-wrapper > .footer {
    min-width: 1250px;
    max-width: 1250px;
  }
}

@media (max-width: 1220px) {
  .follow-us > div:not(:first-child) {
    grid-template-columns: repeat(3, 1fr); /* Two columns on smaller screens */
    gap: 0;
  }
  .footer-wrapper > .footer {
    min-width: unset  ;
  }
}

@media (max-width: 480px) {
  .follow-us > div:not(:first-child) {
    grid-template-columns: 2fr; /* Single column on very small screens */
  }
}