/* .section.stories-container {
  background-color: white;
}
.clickable-link {
  color: blue;
  text-decoration: none; 
}

.clickable-link:hover {
  text-decoration: underline; 
  cursor: pointer;
}

 */
